.housing{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 30px;
    padding: 50px;
}

.housing__card{
    background-image: linear-gradient(180deg, #FF6060, #FF6060, #FF6060, #833131);
    border-radius: 10px;
    min-width: 280px;
    width: 100%;
    padding-bottom: 40px;
}

.housing__card img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 260px;
    object-fit: cover;
}

.housing__card h3 {
    color: white;
}